In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pld
import seaborn as sns

In [27]:
data=pd.read_csv('zomato.csv',encoding='latin-1')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
Restaurant ID           9551 non-null int64
Restaurant Name         9551 non-null object
Country Code            9551 non-null int64
City                    9551 non-null object
Address                 9551 non-null object
Locality                9551 non-null object
Locality Verbose        9551 non-null object
Longitude               9551 non-null float64
Latitude                9551 non-null float64
Cuisines                9542 non-null object
Average Cost for two    9551 non-null int64
Currency                9551 non-null object
Has Table booking       9551 non-null object
Has Online delivery     9551 non-null object
Is delivering now       9551 non-null object
Switch to order menu    9551 non-null object
Price range             9551 non-null int64
Aggregate rating        9551 non-null float64
Rating color            9551 non-null object
Rating text             9551 non-null object
Votes                   9551 non-null int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [28]:
data.dropna(inplace=True)
data.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591

In [29]:
data.drop(columns=['Restaurant ID','Is delivering now','Switch to order menu'],inplace=True)

In [30]:
data.head(2)

,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes
0,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,3,4.8,Dark Green,Excellent,314
1,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,3,4.5,Dark Green,Excellent,591

In [31]:
data['Country Code'].nunique()

15

In [32]:
data['Country Code'].value_counts()

1      8652
216     425
215      80
214      60
30       60
189      60
148      40
208      34
14       24
162      22
94       21
191      20
166      20
184      20
37        4
Name: Country Code, dtype: int64

In [33]:
data_1 = data[data['Country Code']==1]

In [34]:
data_1.head(1)

,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes
624,Jahanpanah,1,Agra,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",78.011544,27.161661,"North Indian, Mughlai",850,Indian Rupees(Rs.),No,No,3,3.9,Yellow,Good,140

In [35]:
data_1.drop(columns=['Restaurant Name','Currency','Country Code'],inplace=True)

In [101]:
data_1[data_1['City'].isin(['New Delhi','Gurgaon','Noida','Faridabad'])].value_counts()
data_1['City'].value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [98]:
data_1['City'].value_counts()

New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Ahmedabad         21
Amritsar          21
Guwahati          21
Bhubaneshwar      21
Lucknow           21
Dehradun          20
Bhopal            20
Allahabad         20
Goa               20
Chennai           20
Surat             20
Puducherry        20
Bangalore         20
Ludhiana          20
Indore            20
Varanasi          20
Vizag             20
Nagpur            20
Coimbatore        20
Kochi             20
Kanpur            20
Kolkata           20
Mangalore         20
Mysore            20
Nashik            20
Mumbai            20
Vadodara          20
Agra              20
Pune              20
Ranchi            20
Jaipur            20
Patna             20
Aurangabad        20
Hyderabad         18
Chandigarh        18
Secunderabad       2
Mohali             1
Panchkula          1
Name: City, dtype: int64

In [38]:
avg_price = data_1.groupby('Cuisines').mean()['Average Cost for two'].reset_index()
avg_price.head(2)

                    Cuisines  Average Cost for two
0                    Afghani                 512.5
1  Afghani, Mughlai, Chinese                 500.0

In [53]:
data = data_1.merge(avg_price,on='Cuisines')

In [54]:
data.rename(columns={'Average Cost for two_y':'cuisines','Average Cost for two_x':'target'},inplace=True)

In [55]:
data.head(2)

,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,cuisines
0,Agra,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",78.011544,27.161661,"North Indian, Mughlai",850,No,No,3,3.9,Yellow,Good,140,774.161677
1,Agra,"E-20, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",0.000000,0.000000,"North Indian, Mughlai",700,No,No,2,3.5,Yellow,Good,71,774.161677

In [56]:
final_data = data.drop(columns=['Address','Locality','Locality Verbose','Cuisines'])
final_data

,City,Longitude,Latitude,target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,cuisines
0,Agra,78.011544,27.161661,850,No,No,3,3.9,Yellow,Good,140,774.161677
1,Agra,0.000000,0.000000,700,No,No,2,3.5,Yellow,Good,71,774.161677
2,Agra,78.044095,27.160934,2500,No,No,4,4.3,Green,Very Good,133,774.161677
3,Agra,78.057044,27.163303,3600,No,No,4,3.8,Yellow,Good,46,774.161677
4,Agra,78.047250,27.157772,900,No,No,3,3.7,Yellow,Good,175,774.161677
...,...,...,...,...,...,...,...,...,...,...,...,...
8647,Vizag,83.304558,17.726709,600,No,No,2,4.1,Green,Very Good,75,600.000000
8648,Vizag,83.382858,17.783869,450,No,No,2,4.0,Green,Very Good,169,450.000000
8649,Vizag,83.361377,17.764287,600,No,No,2,3.6,Yellow,Good,193,600.000000
8650,Vizag,83.315281,17.719539,600,No,No,2,4.3,Green,Very Good,172,600.000000
8651,Vizag,83.336840,17.721182,1500,No,No,4,3.8,Yellow,Good,74,1500.000000

In [58]:
final_data['Has Table booking'].replace('No',0,inplace=True)
final_data['Has Table booking'].replace('Yes',1,inplace=True)

In [59]:
final_data['Has Online delivery'].replace('No',0,inplace=True)
final_data['Has Online delivery'].replace('Yes',1,inplace=True)

In [60]:
final_data['Has Online delivery'].value_counts()

0    6229
1    2423
Name: Has Online delivery, dtype: int64

In [65]:
final_data.head(2)

,City,Longitude,Latitude,target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,cuisines
0,Agra,78.011544,27.161661,850,0,0,3,3.9,Yellow,Good,140,774.161677
1,Agra,0.000000,0.000000,700,0,0,2,3.5,Yellow,Good,71,774.161677

In [68]:
final_data.corr()['target']

Longitude              0.060100
Latitude               0.018604
target                 1.000000
Has Table booking      0.609883
Has Online delivery    0.064400
Price range            0.837964
Aggregate rating       0.344172
Votes                  0.281765
cuisines               0.797032
Name: target, dtype: float64

In [71]:
final_data.drop(columns=['Rating color','Has Online delivery'],inplace=True)

KeyError: "['Rating color' 'Has Online delivery'] not found in axis"

In [72]:
final_data

,City,Longitude,Latitude,target,Has Table booking,Price range,Aggregate rating,Rating text,Votes,cuisines
0,Agra,78.011544,27.161661,850,0,3,3.9,Good,140,774.161677
1,Agra,0.000000,0.000000,700,0,2,3.5,Good,71,774.161677
2,Agra,78.044095,27.160934,2500,0,4,4.3,Very Good,133,774.161677
3,Agra,78.057044,27.163303,3600,0,4,3.8,Good,46,774.161677
4,Agra,78.047250,27.157772,900,0,3,3.7,Good,175,774.161677
...,...,...,...,...,...,...,...,...,...,...
8647,Vizag,83.304558,17.726709,600,0,2,4.1,Very Good,75,600.000000
8648,Vizag,83.382858,17.783869,450,0,2,4.0,Very Good,169,450.000000
8649,Vizag,83.361377,17.764287,600,0,2,3.6,Good,193,600.000000
8650,Vizag,83.315281,17.719539,600,0,2,4.3,Very Good,172,600.000000
8651,Vizag,83.336840,17.721182,1500,0,4,3.8,Good,74,1500.000000

In [75]:
y = final_data['target'].values
y

array([ 850,  700, 2500, ...,  600,  600, 1500], dtype=int64)

In [102]:
input1 = final_data.drop(columns='target')

In [90]:
X = input1.iloc[:,:].values
X[0]

array(['Agra', 78.01154444, 27.16166111, 0, 3, 3.9, 'Good', 140,
       774.1616766467066], dtype=object)

In [81]:
X.shape

(8652, 9)

In [82]:
y.shape

(8652,)

In [105]:
X[:,0] = encoder.fit_transform(X[:,0])
X[:,-3] = encoder.fit_transform(X[:,-3])
X[0]

array([0, 78.01154444, 27.16166111, 0, 3, 3.9, 2, 140, 774.1616766467066],
      dtype=object)

In [109]:
from sklearn.preprocessing import OneHotEncoder
oencoder = OneHotEncoder(categorical_features=X[:,0])

In [110]:
# one hot encoding
X=oencoder.fit_transform(X).toarray()

D:\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

IndexError: arrays used as indices must be of integer (or boolean) type

In [83]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2)

In [85]:
X_train[0]

array(['Chennai', 80.24998214, 12.97279291, 0, 2, 3.8, 'Good', 1317,
       444.44444444444446], dtype=object)

In [86]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [87]:
X_train[:,0] = encoder.fit_transform(X_train[:,0])

In [88]:
X_train

array([[9, 80.24998214, 12.97279291, ..., 'Good', 1317,
        444.44444444444446],
       [31, 77.29241386, 28.62235249, ..., 'Not rated', 0,
        335.18518518518516],
       [31, 77.28826679999999, 28.6784651, ..., 'Not rated', 2, 200.0],
       ...,
       [31, 77.1898485, 28.523913399999998, ..., 'Not rated', 0,
        328.2608695652174],
       [31, 77.2690978, 28.561659499999998, ..., 'Not rated', 1,
        286.35057471264366],
       [31, 77.122793, 28.550327000000003, ..., 'Average', 30,
        335.18518518518516]], dtype=object)