In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pld
import seaborn as sns

In [2]:
data=pd.read_csv('zomato.csv',encoding='latin-1')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
Restaurant ID           9551 non-null int64
Restaurant Name         9551 non-null object
Country Code            9551 non-null int64
City                    9551 non-null object
Address                 9551 non-null object
Locality                9551 non-null object
Locality Verbose        9551 non-null object
Longitude               9551 non-null float64
Latitude                9551 non-null float64
Cuisines                9542 non-null object
Average Cost for two    9551 non-null int64
Currency                9551 non-null object
Has Table booking       9551 non-null object
Has Online delivery     9551 non-null object
Is delivering now       9551 non-null object
Switch to order menu    9551 non-null object
Price range             9551 non-null int64
Aggregate rating        9551 non-null float64
Rating color            9551 non-null object
Rating text             9551 non-null object
Votes                   9551 non-null int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [3]:
data.dropna(inplace=True)
data.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591

In [4]:
data.drop(columns=['Restaurant ID','Is delivering now','Switch to order menu'],inplace=True)

In [5]:
data.head(2)

,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes
0,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,3,4.8,Dark Green,Excellent,314
1,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,3,4.5,Dark Green,Excellent,591

In [6]:
data['Country Code'].nunique()

15

In [7]:
data['Country Code'].value_counts()

1      8652
216     425
215      80
214      60
30       60
189      60
148      40
208      34
14       24
162      22
94       21
191      20
166      20
184      20
37        4
Name: Country Code, dtype: int64

In [8]:
data_1 = data[data['Country Code']==1]

In [9]:
data_1.head(1)

,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes
624,Jahanpanah,1,Agra,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",78.011544,27.161661,"North Indian, Mughlai",850,Indian Rupees(Rs.),No,No,3,3.9,Yellow,Good,140

In [10]:
data_1.drop(columns=['Restaurant Name','Currency','Country Code'],inplace=True)

D:\anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [11]:
#data_1[data_1['City'].isin(['New Delhi','Gurgaon','Noida','Faridabad'])].value_counts()
#data_1['City'].value_counts()
data1 = data_1[data_1['City'].isin(['New Delhi','Gurgaon','Noida','Faridabad'])]
data1['City'].value_counts()

New Delhi    5473
Gurgaon      1118
Noida        1080
Faridabad     251
Name: City, dtype: int64

In [12]:
data1['City'].value_counts()

New Delhi    5473
Gurgaon      1118
Noida        1080
Faridabad     251
Name: City, dtype: int64

In [13]:
avg_price = data1.groupby('Cuisines').mean()['Average Cost for two'].reset_index()
avg_price.head(2)

                    Cuisines  Average Cost for two
0                    Afghani                 512.5
1  Afghani, Mughlai, Chinese                 500.0

In [14]:
temp_final = data1.merge(avg_price,on='Cuisines')
temp_final['City'].value_counts()
temp_final.head(2)

,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two_x,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,Average Cost for two_y
0,Faridabad,"G 25/22, Main Road, 40 Feet, Molarband Extensi...",Badarpur Border,"Badarpur Border, Faridabad",77.306640,28.490059,"Chinese, Fast Food, Bakery",250,No,No,1,2.9,Orange,Average,4,375.0
1,New Delhi,"Shop 3, Plot 1161, Opposite Old Sabji Mandi, K...",Narela,"Narela, New Delhi",77.049525,28.806199,"Chinese, Fast Food, Bakery",500,No,No,2,0.0,White,Not rated,0,375.0

In [15]:
temp_final.rename(columns={'Average Cost for two_y':'cuisines','Average Cost for two_x':'target'},inplace=True)

In [16]:
temp_final.head(2)

,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,cuisines
0,Faridabad,"G 25/22, Main Road, 40 Feet, Molarband Extensi...",Badarpur Border,"Badarpur Border, Faridabad",77.306640,28.490059,"Chinese, Fast Food, Bakery",250,No,No,1,2.9,Orange,Average,4,375.0
1,New Delhi,"Shop 3, Plot 1161, Opposite Old Sabji Mandi, K...",Narela,"Narela, New Delhi",77.049525,28.806199,"Chinese, Fast Food, Bakery",500,No,No,2,0.0,White,Not rated,0,375.0

In [17]:
temp_final.drop(columns=['Address','Locality','Locality Verbose','Cuisines'],inplace=True)

In [18]:
temp_final

,City,Longitude,Latitude,target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,cuisines
0,Faridabad,77.306640,28.490059,250,No,No,1,2.9,Orange,Average,4,375.000000
1,New Delhi,77.049525,28.806199,500,No,No,2,0.0,White,Not rated,0,375.000000
2,Faridabad,77.304776,28.490157,500,No,No,2,2.8,Orange,Average,16,594.303797
3,Faridabad,0.000000,0.000000,300,No,No,1,0.0,White,Not rated,0,594.303797
4,Faridabad,77.305698,28.471985,1200,Yes,No,3,0.0,White,Not rated,0,594.303797
...,...,...,...,...,...,...,...,...,...,...,...,...
7917,Noida,77.341021,28.585493,2500,Yes,No,4,2.2,Red,Poor,116,2500.000000
7918,Noida,77.364833,28.597103,200,No,No,1,3.0,Orange,Average,10,200.000000
7919,Noida,77.364833,28.597103,450,No,Yes,1,3.5,Yellow,Good,105,450.000000
7920,Noida,77.323213,28.567751,1000,Yes,No,3,0.0,White,Not rated,0,1000.000000
7921,Noida,77.325308,28.567150,450,No,No,1,2.0,Red,Poor,161,450.000000

In [19]:
temp_final['Has Table booking'].replace('No',0,inplace=True)
temp_final['Has Table booking'].replace('Yes',1,inplace=True)

In [20]:
temp_final['Has Table booking'].value_counts()

0    6876
1    1046
Name: Has Table booking, dtype: int64

In [21]:
temp_final['Has Online delivery'].replace('No',0,inplace=True)
temp_final['Has Online delivery'].replace('Yes',1,inplace=True)
temp_final['Has Online delivery'].value_counts()

0    5609
1    2313
Name: Has Online delivery, dtype: int64

In [22]:
temp_final['Has Online delivery'].value_counts()
temp_final

,City,Longitude,Latitude,target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,cuisines
0,Faridabad,77.306640,28.490059,250,0,0,1,2.9,Orange,Average,4,375.000000
1,New Delhi,77.049525,28.806199,500,0,0,2,0.0,White,Not rated,0,375.000000
2,Faridabad,77.304776,28.490157,500,0,0,2,2.8,Orange,Average,16,594.303797
3,Faridabad,0.000000,0.000000,300,0,0,1,0.0,White,Not rated,0,594.303797
4,Faridabad,77.305698,28.471985,1200,1,0,3,0.0,White,Not rated,0,594.303797
...,...,...,...,...,...,...,...,...,...,...,...,...
7917,Noida,77.341021,28.585493,2500,1,0,4,2.2,Red,Poor,116,2500.000000
7918,Noida,77.364833,28.597103,200,0,0,1,3.0,Orange,Average,10,200.000000
7919,Noida,77.364833,28.597103,450,0,1,1,3.5,Yellow,Good,105,450.000000
7920,Noida,77.323213,28.567751,1000,1,0,3,0.0,White,Not rated,0,1000.000000
7921,Noida,77.325308,28.567150,450,0,0,1,2.0,Red,Poor,161,450.000000

In [23]:
temp_final.head(2)

,City,Longitude,Latitude,target,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,cuisines
0,Faridabad,77.306640,28.490059,250,0,0,1,2.9,Orange,Average,4,375.0
1,New Delhi,77.049525,28.806199,500,0,0,2,0.0,White,Not rated,0,375.0

In [24]:
temp_final.corr()['target']

Longitude              0.071752
Latitude               0.070993
target                 1.000000
Has Table booking      0.642966
Has Online delivery    0.076953
Price range            0.847985
Aggregate rating       0.328440
Votes                  0.299089
cuisines               0.808274
Name: target, dtype: float64

In [25]:
temp_final.drop(columns=['Rating color','Has Online delivery'],inplace=True)

In [28]:
temp_final['City'].value_counts()

New Delhi    5473
Gurgaon      1118
Noida        1080
Faridabad     251
Name: City, dtype: int64

In [30]:
y = temp_final['target'].values
y.shape

(7922,)

In [31]:
input1 = temp_final.drop(columns='target')
input1

,City,Longitude,Latitude,Has Table booking,Price range,Aggregate rating,Rating text,Votes,cuisines
0,Faridabad,77.306640,28.490059,0,1,2.9,Average,4,375.000000
1,New Delhi,77.049525,28.806199,0,2,0.0,Not rated,0,375.000000
2,Faridabad,77.304776,28.490157,0,2,2.8,Average,16,594.303797
3,Faridabad,0.000000,0.000000,0,1,0.0,Not rated,0,594.303797
4,Faridabad,77.305698,28.471985,1,3,0.0,Not rated,0,594.303797
...,...,...,...,...,...,...,...,...,...
7917,Noida,77.341021,28.585493,1,4,2.2,Poor,116,2500.000000
7918,Noida,77.364833,28.597103,0,1,3.0,Average,10,200.000000
7919,Noida,77.364833,28.597103,0,1,3.5,Good,105,450.000000
7920,Noida,77.323213,28.567751,1,3,0.0,Not rated,0,1000.000000
7921,Noida,77.325308,28.567150,0,1,2.0,Poor,161,450.000000

In [44]:
X = input1.iloc[:,:].values
X[0]

array(['Faridabad', 77.3066401, 28.4900591, 0, 1, 2.9, 'Average', 4,
       375.0], dtype=object)

In [45]:
X.shape

(7922, 9)

In [34]:
# Encoding

In [35]:
#Label Encoder
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [46]:
X[:,0] = encoder.fit_transform(X[:,0])
X[:,-3] = encoder.fit_transform(X[:,-3])
X[0]

array([0, 77.3066401, 28.4900591, 0, 1, 2.9, 0, 4, 375.0], dtype=object)

In [37]:
# One Hot Encoder
from sklearn.preprocessing import OneHotEncoder
oencoder = OneHotEncoder(categorical_features=[0])

In [47]:
X=oencoder.fit_transform(X).toarray()
X.shape

D:\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
D:\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

(7922, 12)

In [48]:
X=X[:,1:]
X.shape

(7922, 11)

In [49]:
oencoder1=OneHotEncoder(categorical_features=[-3])
X = oencoder1.fit_transform(X).toarray()
X.shape

D:\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
D:\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

(7922, 16)

In [50]:
X=np.delete(X,-3,1)
X.shape

(7922, 15)

In [51]:
from sklearn.model_selection import train_test_split
# Spliting
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2)

In [53]:
X_train.shape

(6337, 15)

In [57]:
y_train.shape

(6337,)

In [58]:
X_test.shape

(1585, 15)

In [60]:
y_test.shape

(1585,)

In [ ]:
#X_train[:,0] = encoder.fit_transform(X_train[:,0])

In [62]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [66]:
y_pred=regressor.predict(X_test)

In [67]:
from sklearn.metrics import r2_score

In [68]:
r2_score(y_test,y_pred)

0.8214394489754233